@import "theme";

html, body {
  display: flex;
  flex-direction: column;

  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;

  :host {
    display: flex;
    flex: 1;
  }

  .content {
    padding: 18px;
  }
}

.list-icon {
  position: relative;
  top: 8px;
  left: 8px;
}

.text-center {
  text-align: center;
}


/*** Tooltip font size override ***/
::ng-deep .mat-tooltip {
  font-size: 12px;
}

/*** General mat card styling ***/
.margins-removed {
  margin: 0;
  padding: 0;

  dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  dd {
    margin: 0 0 1em 0;
    padding-top: 1px;
    padding-left: 3px;
  }

  .dl-wrapper {
    display: flex;

    div {
      padding-left: 15px;
    }
  }
}

::ng-deep snack-bar-container.snackbar {
  color: white;
  font-size: 18px;
}
